.sp-header-menu {
  height: 64px;
  background: #404040;
  box-shadow: 0 0 8px #555;
  padding: 0 20px;
}

.sp-header-menu .sp-navigator {
  height: 100%;
}

.sp-header-menu .sp-navigator .sp-tags-wrapper {
  height: 100%;
}

.sp-header-menu .sp-navigator .sp-tags-wrapper .sp-tag-wrapper {
  text-align: center;
  height: 58px;
  display: inline-block;
  padding: 0 0 6px 0;
}

.sp-header-menu .sp-navigator .sp-tags-wrapper .sp-tag-wrapper.active {
  background: #545454;
}

.sp-header-menu .sp-navigator .sp-tags-wrapper .sp-tag-wrapper:hover {
  cursor: pointer;
  background: #666666;
}

.sp-header-menu .sp-navigator .sp-tags-wrapper .sp-tag-wrapper:nth-child(1):hover > .sp-tagname,
.sp-header-menu .sp-navigator .sp-tags-wrapper .sp-tag-wrapper:nth-child(1).active > .sp-tagname {
  border-bottom: 6px solid #0ebeff;
}

.sp-header-menu .sp-navigator .sp-tags-wrapper .sp-tag-wrapper:nth-child(2):hover > .sp-tagname,
.sp-header-menu .sp-navigator .sp-tags-wrapper .sp-tag-wrapper:nth-child(2).active > .sp-tagname {
  border-bottom: 6px solid #47CF73;
}

.sp-header-menu .sp-navigator .sp-tags-wrapper .sp-tag-wrapper:nth-child(3):hover > .sp-tagname,
.sp-header-menu .sp-navigator .sp-tags-wrapper .sp-tag-wrapper:nth-child(3).active > .sp-tagname {
  border-bottom: 6px solid #AE63E4;
}

.sp-header-menu .sp-navigator .sp-tags-wrapper .sp-tag-wrapper .sp-tagname {
  padding: 0 10px;
  height: 100%;
  line-height: 58px;
  color: white;
  margin: 0;
}
