#sp-assignment-list.sp-assignment-list-container(ng-controller='assignmentListCtrl as vm')
  .sp-assignment-list-wrapper.container
    .assignment-list-header
    .assignment-list-body
      .assignment-list.row
        .list-item-wrapper.col-xs-12.col-md-4.col-sm-6
          .list-item
        .list-item-wrapper.col-xs-12.col-md-4.col-sm-6
          .list-item
        .list-item-wrapper.col-xs-12.col-md-4.col-sm-6
          .list-item
    .assignment-list-footer