#sp-blog-list.sp-blog-list-container
  .sp-blog-list-wrapper
    .blog-list-content.container
      .blog-list.row
        .blog-item-wrapper.col-xs-12.col-md-4.col-sm-6
          .blog-item
            .blog-img-wrapper
              img.blog-img.img-responsive(ng-src='/images/blog-header.jpg')
            .blog-meta
              h3.blog-title title
              .blog-author-status
                .blog-author
                  img.avatar(ng-src='/images/header.jpeg' alt)
                  span.author-name sugerpocket
                .blog-status
        .blog-item-wrapper.col-xs-12.col-md-4.col-sm-6
          .blog-item
            .blog-img-wrapper
              img.blog-img.img-responsive(ng-src='/images/blog-header.jpg')
            .blog-meta
              h3.blog-title test
              .blog-author-status
                .blog-author
                  img.avatar(ng-src='/images/header.jpeg' alt)
                  span.author-name sugerpocket
                .blog-status
        .blog-item-wrapper.col-xs-12.col-md-4.col-sm-6
          .blog-item
            .blog-img-wrapper
              img.blog-img.img-responsive(ng-src='/images/blog-header.jpg')
            .blog-meta
              h3.blog-title test
              .blog-author-status
                .blog-author
                  img.avatar(ng-src='/images/header.jpeg' alt)
                  span.author-name sugerpocket
                .blog-status
      .pagination