#sp-blog.sp-blog-container(ng-controller='blogCtrl as vm')
  .sp-blog-wrapper
    .blog-head
      .blog-head-content.container
        h1 Wonderful World
        div
          h3 can not read property of null
    ui-view