.sp-home-container#sp-home
  .sp-home-wrapper
    .sp-home-header
      nav.navbar.navbar-default(role='navigation')
        .container-fluid
        .navbar-header
          .navbar-brand sugerpocket
        ul.nav.navbar-nav
          li.active
            a(href='#') iOS
          li
            a(href="#") SVN
          li.dropdown
            a.dropdown-toggle(href="#" data-toggle="dropdown") Java
              b.caret
            ul.dropdown-menu(role="menu" aria-labelledby="dLabel")
              li
                a(href="#") jmeter
              li
                a(href="#") EJB
              li
                a(href="#") Jasper Report
              li.divider
              li
                a(href="#") 分离的链接
              li.divider
              li
                a(href="#") 另一个分离的链接
    .sp-home-body
      span test
    .sp-home-footer