.sp-side-menu-container#sp-side-menu
  .sp-side-menu-wrapper
    .sp-side-menu-header
      .sp-side-menu-avatar
      .sp-side-menu-flex-ctrl
        span.glyphicon.glyphicon-chevron-left
    .sp-side-menu-body
      .sp-side-menu-content
      .sp-side-menu-main
    .sp-side-menu-footer