.sp-side-menu-container#sp-side-menu(ng-controller='sideMenuCtrl as vm')
  .sp-side-menu-wrapper
    .sp-side-menu-header
      .sp-side-menu-avatar
      .sp-side-menu-flex-ctrl
        span.glyphicon.glyphicon-chevron-left
    .sp-side-menu-user-ctrl
      button.btn.btn-primary.btn-sm(data-toggle="modal" data-target="#logInModal") 登录
      button.btn.btn-default.btn-sm(ng-click='vm.goRegister()') 注册
    .sp-side-menu-body
      .sp-side-menu-content
      .sp-side-menu-main
    .sp-side-menu-footer