.sp-side-menu(ng-controller="sp-side-menu as vm" ng-class="{'expanded': vm.expanded}")
  header.sp-side-header
    .sp-side-logo-wrapper
    .sp-side-telescopic-state-ctrl(ng-click="vm.toggleTelescopicState($event)")
  .sp-side-user-profile
    .sp-side-user-minihead-wrapper
      //img.sp-side-user-minihead(src="/header.jpeg")
  .sp-side-user-ctrl