#sp-one-assignment
  padding: 50px 30px
  .one-assignment-wrapper
    text-align: left
    padding: 10px 40px 30px 40px
    border: 1px solid #ccc
    border-radius: 2px
    background: #fff
  hr
    border-color: #ccc
  md
    display: block
    min-height: 700px