body {
  margin: 0;
  padding: 0;
}

body {
  background: url(/images/background.jpg);
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

.picker-switch a {
  padding: 3px 20px;
  height: 20px;
  width: 100%;
}

#sp-content {
  text-align: center;
  transform: translate3d(-115px, 0, 0);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

#sp-content.explanded {
  transform: translate3d(0, 0, 0);
}
