extends layout

block body
  ng-include(src="'/includes/side-menu'")
  ng-include(src="'/includes/header'")
  ng-include(src="'/includes/auth'")
  .sp-content#sp-content(ng-class='{"explanded": contentExpanded}')
    section.test(ui-view)
