doctype
html(ng-app="sugerpocket")
  head
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport")
    meta(charset='utf8')
    link(rel="shortcut icon" href="/images/Logo.png" type="image/x-icon")
    base(href='/')
    title sugerpocket


    <!-- inject:css -->
    <!-- endinject -->

  body
    block body

  <!-- inject:js -->
  <!-- endinject -->