doctype
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App


    <!-- inject:css -->
    <!-- endinject -->

  body
    block body

  <!-- inject:js -->
  <!-- endinject -->