doctype
html(ng-app="sugerpocket")
  head
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport")
    meta(charset='utf8')
    link(rel="shortcut icon" href="/images/Logo.png" type="image/x-icon")
    base(href='/')
    title sugerpocket

    link(rel='stylesheet' href='http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css' type='text/css')
    link(rel='stylesheet' href='http://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css' type='text/css')
    link(rel='stylesheet' href='http://cdn.bootcss.com/codemirror/5.24.2/codemirror.min.css' type='text/css')
    link(rel='stylesheet' href='http://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.css' type='text/css')
    link(rel='stylesheet' href='http://cdn.bootcss.com/highlight.js/9.10.0/styles/monokai.min.css' type='text/css')
    link(rel='stylesheet' href='http://cdn.bootcss.com/angular-ui-notification/0.3.6/angular-ui-notification.min.css' type='text/css')
    <!-- inject:css -->
    <!-- endinject -->

  body
    block body
  script(src='http://cdn.bootcss.com/highlight.js/9.10.0/highlight.min.js')
  script hljs.initHighlightingOnLoad();
  script(src='http://cdn.bootcss.com/angular.js/1.6.2/angular.min.js')
  script(src='http://cdn.bootcss.com/angular.js/1.6.1/angular-cookies.min.js')
  script(src='http://cdn.bootcss.com/angular.js/1.6.2/angular-loader.min.js')
  script(src='http://cdn.bootcss.com/angular.js/1.6.2/angular-resource.min.js')
  script(src='http://cdn.bootcss.com/angular.js/1.6.2/angular-sanitize.min.js')
  script(src='http://cdn.bootcss.com/angular.js/1.6.2/angular-animate.min.js')
  script(src='http://cdn.bootcss.com/jquery/3.2.0/jquery.min.js')
  script(src='http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js')
  script(src='http://cdn.bootcss.com/moment.js/2.17.1/moment-with-locales.min.js')
  script(src='http://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js')
  script(src='http://cdn.bootcss.com/codemirror/5.24.2/codemirror.min.js')
  script(src='http://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.js')
  script(src='http://cdn.bootcss.com/marked/0.3.6/marked.min.js')
  script(src='http://cdn.bootcss.com/angular-ui-router/1.0.0-rc.1/angular-ui-router.min.js')
  script(src='http://cdn.bootcss.com/angular-file-upload/2.5.0/angular-file-upload.min.js')
  script(src='http://cdn.bootcss.com/angular-ui-notification/0.3.6/angular-ui-notification.js')
  <!-- inject:js -->
  <!-- endinject -->