#sp-assignment-list
  .sp-assignment-list-wrapper
    padding-top: 50px
    padding-bottom: 50px
  .assignment-list-header
  .assignment-list-body
    min-height: 900px
  .list-group
  .list-item
    border: 1px solid #ccc
    border-radius: 2px
    overflow: hidden
    text-align: left
    padding: 5px 15px
  .author-meta
    height: 20px
    line-height: 20px
  .minihead
    width: auto
    max-height: 100%
    display: inline-block
    margin-right: 15px
  .list-item-img
    padding-top: 56%
    position: relative
  .list-item-meta
    height: 40px
  .week
    line-height: 20px
    
  .ddl
    color: #999
  .assignment-list-footer