@charset "UTF-8";
html,
body {
  font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
  height: 100%;
}

body,
ul {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.sp-content {
  color: green;
  margin-left: 220px;
  transition: all 0.5s;
}

.sp-content.expanded {
  margin-left: 64px;
}
